<!--
@author William Caruso
@author Chandler Squires
MIT
February 2016
-->
<!--  -->
<!DOCTYPE html>

<html>
    <head>
        
        <!-- Website Title & Description for Search Engine purposes -->
        <title>OFFL</title>
        <meta name="description" content="An open source modeling software developed by students at MIT">
        
        <!-- Mobile viewport optimized -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- Bootstrap CSS -->
        <!-- CHANGE TO CDN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='includes/css/bootstrap-glyphicons.css')}}" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='includes/css/styles.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='includes/css/mvc.css')}}" rel="stylesheet" type="text/css">
        
        <!-- Include Modernizr in the head, before any other Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <!-- Include jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://web.mit.edu/lu16j/www/state/jsPlumb.js " type="text/javascript"></script>

        <!-- Include Custom JS Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='includes/js/definitions.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='includes/js/editTitle.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='includes/js/html2canvas.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='includes/js/mvc.js')}}"></script> 
        <script type="text/javascript" src="{{ url_for('static', filename='includes/js/save.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='includes/js/search.js')}}"></script>
        <!-- fileDownload plug-in -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://jqueryfiledownload.apphb.com/Scripts/jquery.fileDownload.js"></script>

        <!-- Include jsPlumb -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>  
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script> 

        <!-- Include Highcharts -->
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        
        <!-- For contact form -->
        <script>
            $(document).ready(function () {
                $("input#submit").click(function(){
                    $.ajax({
                        type: "POST",
                        url: "process.php", // 
                        data: $('form.contact').serialize(),
                        success: function(msg){
                            $("#thanks").html(msg)
                            $("#form-content").modal('hide');   
                        },
                        error: function(){
                            alert("failure");
                        }
                    });
                });
            });
        </script>
        
    </head>
    <body style="background-image:{{ url_for('static', filename = 'images/back/dark-grungewall.png')}}"> 
    
    <div class="container" id="main">
        <div class="navbar navbar-fixed-top">
            <div class="container">
            
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/" title="OFFL"><img src="../../static/images/logo.png" alt="OFFL Logo"></a>

                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#aboutModal" data-toggle="modal">About</a></li>
                        <li><a href="#contactModal" data-toggle="modal">Contact</a></li>
                        <li><a href="#saveModal" data-toggle="modal" onclick="clearSaveModal();">Save As</a></li>
                        <li><a href="#openModal" data-toggle="modal">Open</a></li>
                        <li><a href="#clearModal" data-toggle="modal">Clear</a></li>
                    </ul>
                    <!-- Search Button with Advanced Features -->
                    <form class="navbar-form pull-right">
                        <input type="text" class="form-control" placeholder="Search other models..." id="searchInput">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <div class="form-group">
                                <label for="match">Match only against:</label>
                                <br>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="nameMatch">Name</label>
                                </div>
                                <br>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="descriptionMatch">Description</label>
                                </div>
                                <br>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="tagsMatch">Tags</label>
                                </div>
                            </div><!-- end of match form -->
                            <div class="form-group">
                                <label for="sort">Sort by:</label>
                                <select class="form-control" id="sortBy">
                                    <option value="relevance" selected>Relevance</option>
                                    <option value="dateNewToOld">Date Created(Newest to Oldest)</option>
                                    <option value="dateOldToNew">Date Created (Oldest to Newest)</option>
                                </select>
                            </div><!-- end of sort form -->
                        </div><!-- end of dropdown-menu -->
                        <button id ="searchButton" class="btn btn-default" data-toggle="modal" data-target="#searchResults">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form><!-- end navbar-form -->
                </div> <!-- end nav-collapse -->
            </div><!-- end container -->
        </div><!-- end navbar -->

        <!-- Website Banner. -->
        <div class="row" id="bigCallout">
            <div class="col-12">
                <div class="well">
                    <div class="page-header ">
                        <h1>ODE Formal Flow <small>An open source modeling software developed at MIT.</small></h1>
                    </div><!-- end page-header -->
                    <p class="lead">Novel organisational framework for dynamical modelling of biological systems with flow diagrams</p>
                </div><!-- end well -->
            </div><!-- end col-12 -->
        </div><!-- end bigCallout -->

        <!-- Modal Windows:
                - About Modal (with tabs)
                        - Get Started
                        - Creating a Flowchart
                        - Saving Your Work
                        - Credits
                - Contact Modal (with web form)
                - Save As Modal
                - Open Modal
                - Clear Modal
                - Warning Modal (for OFFL errors/ input errors)
                - searchResults Modal
                - submission Modal
         -->
            <!-- About Modal -->
            <div class="modal fade" id="aboutModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>             
                                <h3 class="modal-title">About</h3>
                                <p>Welcome to OFFL, an open source online modeling tool developed at MIT.</p>
                        </div><!-- end modal-header -->

                        <div class="modal-body">
                            <div class="tabbable">
                                <!-- Tabs in Modal -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#getstarted" data-toggle="tab">Get Started</a></li>
                                    <li><a href="#creatingflowchart" data-toggle="tab">Creating a Flowchart</a></li>
                                    <li><a href="#save" data-toggle="tab">Saving Your Work</a></li>
                                    <li><a href="#credits" data-toggle="tab">Credits</a></li>
                                </ul>
                                <!-- Tab Content in Modal -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="getstarted">
                                        <p></p>
                                        <ul>
                                            <li>Preloaded is a simple Free Flow diagram.</li>
                                            <li>To see how this system will react over time, press the <strong>Solve</strong> button.</li>
                                            <li>This software is based on work done at MIT by Sean Robinson.</li>
                                        </ul>
                                    </div><!-- end tab-pane -->
                                    <div class="tab-pane" id="creatingflowchart">
                                        <p></p>
                                        <ul>
                                            <li>To create a Formal Flow Diagram simply begin by adding nodes</li>
                                            <li>Add new nodes by clicking on the respective button.</li>
                                            <li>Connect endpoints by dragging from the solid to open circle.</li>
                                            <li>Input weights, functions and names by clicking on the dialog box.</li>
                                            <li>Press the <strong>Solve System</strong> button to see how the model will react over time.</li>
                                        </ul>
                                    </div><!-- end tab-pane -->
                                    <div class="tab-pane" id="save">
                                        <ul>
                                            <p></p>
                                            <p><strong>To save a session:</strong></p>
                                            <li>After making your graph, press the <strong>Save</strong> button.</li>
                                            <li>Then, name your file and click Save.</li>
                                            <p></p>
                                            <p><strong>To save results:</strong></p>
                                            <li>After making your graph, press the <strong>Solve</strong> button.</li>
                                            <li>Then,press the <strong>Download Results</strong> button. </li>
                                            <li>Next, choose which file you would like to save your work as.</li>
                                        </ul>
                                    </div><!-- end tab-pane -->
                                    <div class="tab-pane" id="credits">
                                        <ul>
                                            <p></p>
                                            <p>OFFL was developed at MIT in 2015.</p>
                                            <p><strong>Developers</strong> William Caruso and Chandler Squires.</p>
                                            <p><strong>Supervisor </strong><a href="http://web.mit.edu/physics/people/academic/robinson_sean.html" target="_blank">Sean Robinson</a></p>
                                            <p><strong>Collaborator</strong> C. Brandon Ogbunugafor</p>
                                            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
                                            <li>Layout: <a href="http://twitter.github.io/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
                                            <li>Draggable Connectors: <a href="http://jsplumbtoolkit.com/jquery/demo.html" target="_blank">jsPlumb</a>,
                                                <a href="http://jqueryui.com/" target="_blank">jQueryUI</a></li>
                                          </ul>
                                    </div><!-- end tab-pane -->
                                </div><!-- end tab-content -->
                            </div><!-- end tabbable -->
                        </div><!-- end modal-body -->
                                            
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> 
                        </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div><!-- end aboutModal -->

            <!-- Contact Modal -->
            <div class="modal fade" id="contactModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>             
                                <h3 class="modal-title">Contact Us</h3>
                                <p>We'd love to hear what you think of OFFL. Let us know if you find something wrong, have suggestions for the application or just need some help.</p>
                        </div><!-- end modal-header -->

                        <div class="modal-body">
                            <form class="contact" name="contact">
                                <label class="label" for="name">Your Name</label><br>
                                <input type="text" name="name" class="input-xlarge"><br>
                                <label class="label" for="email">Your E-mail</label><br>
                                <input type="email" name="email" class="input-xlarge"><br>
                                <label class="label" for="message">Enter a Message</label><br>
                                <textarea name="message" class="input-xlarge"></textarea>
                            </form>
                        </div><!-- end modal-body -->
                        <div class="modal-footer">
                            <input class="btn btn-success" type="submit" value="Send!" id="submit">
                            <a href="#" class="btn btn-danger" data-dismiss="modal">Nah.</a>
                        </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div><!-- end aboutModal -->

            <!-- Save Modal -->
            <div class="modal fade" id="saveModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>             
                                <h3 class="modal-title">Save</h3>
                        </div><!-- end modal-header -->

                        <div class="modal-body" style="background-color:black">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                <button class="btn btn-block btn-primary" onclick="openSubmissionModal()">Save to Site {{system_name}}</button>
                                This will save your graph to the site, where it can be seen by other users and uploaded as a template.
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                OFFL-<input id="fileToSaveAs" placeholder="File Name">.txt
                                <br> <br>
                                <button class="btn btn-block btn-primary" aria-hidden="true" onclick="saveFC()">Save to Computer</button>
                                This allows you to pause work on a model and upload it later to continue working.
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                <p>Download as other format:</p>
                                <p>(All downloads are .txt files)</p>
                                <div class="form-group">
                                  <label for="sel1">Download list:</label>
                                  <select class="form-control" id="sel1" name="downloadAs">
                                    <option value="ode">.ode file</option>
                                    <option value="mathml">MathML file</option>
                                    <option value="mathematica">Mathematica file</option>
                                    <option value="latex">LaTeX file</option>
                                    <option value="sql">SQL file</option>
                                  </select>
                                </div>
                                <div class="download"></div>
                                <br>
                                <button class="btn btn-block btn-primary" onclick="saveFile()">Download your file</button>
                                </div>
                            </div>
                        </div><!-- end of panel group -->
                        </div><!-- end modal-body -->
                                            
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button" onclick="removeDownloads()">Close</button> 
                        </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div><!-- end saveModal -->

            <!-- Open Modal -->
            <div class="modal fade" id="openModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>             
                                <h3 class="modal-title">Open</h3>
                                <p>Upload only .txt files </p>
                        </div><!-- end modal-header -->

                        <div class="modal-body">
                            <p>Please choose a file to upload:</p>
                            <!-- Hide file preview thumbnails -->
                            <input id="fileToLoad" type="file" class="file" data-show-preview="false">
                            <br> <br>
                            <button class="btn btn-block btn-primary" data-dismiss="modal" aria-hidden="true" onclick="loadFC()">Load</button>
                        </div><!-- end modal-body -->
                                            
                        <div class="modal-footer">
                            
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> 
                        </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div><!-- end openModal -->   

            <!-- Clear Modal -->
            <div class="modal fade" id="clearModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>             
                                <h3 class="modal-title">Clear Canvas</h3>
                                <p>Are you sure you want to clear the canvas?</p>
                        </div><!-- end modal-header -->

                        <div class="modal-body">
                            <p>By clicking 'Clear', you will clear the canvas and completely erase the current flow diagram, losing all of your unsaved work.</p>
                        </div><!-- end modal-body -->
                                            
                        <div class="modal-footer">
                            
                            <button class="btn btn-default clearButton" data-dismiss="modal" type="button" onclick="loadDemo('clear')">Clear</button> 
                        </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div><!-- end openModal -->

            <!-- Warning Modal -->
            <div class="modal fade" id="warningModal">
                <div class="modal-dialog panel-danger">
                    <div class="modal-content">
                        <div class="modal-header panel-header">
                            <button class="close" data-dismiss="modal">&times;</button>             
                                <h3 class="modal-title">Error</h3>
                                <p>There is an error in your system. Your model cannot be solved as-is.</p>
                        </div><!-- end modal-header -->

                        <div class="modal-body hint">
                        </div><!-- end modal-body -->
                                            
                        <div class="modal-footer">
                            
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> 
                        </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div><!-- end warningModal -->

            <!-- searchResults Modal -->
            <div id="searchResults" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Results</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Tags</th>
                                        <th>Date Created</th>
                                        <th>Hits</th>
                                    </tr>
                                </thead>
                                <tbody id="searchResultsTable">
                                </tbody>
                            </table>
                        </div><!-- end modal-body -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- submission Modal -->
            <div id="submissionModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Save to Site</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                <label for="system_name">System Name:</label>
                                <input type="text" class="form-control" id="system_name">
                                </div>
                                <div class="form-group">
                                <label for="system_description">System Description:</label>
                                <textarea class="form-control" rows="5" id="system_description"></textarea> 
                                </div>
                                <div class="form-group">
                                <label for="system_tags">System Tags:</label>
                                <div id="currentTags"></div>
                                <input type="text" class="form-control" id="system_tags">
                                Separate with semicolons
                                </div>
                            </form>
                            <button class="btn btn-default" onclick="saveToSite()">Save To Site</button>
                        </div><!-- end modal-body -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- systemPreview Modal -->
            <div id="systemPreview" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-default" onclick="backToSearchResults()">Back</button>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">Preview</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                            <div class="col-sm-6">
                            <table class="table table-bordered">
                            <tr>
                            <td><b>Name:</b></td>
                            <td><p id="systemPreviewName"></p></td>
                            </tr>
                            <tr>
                            <td><b>Description:</b></td>
                            <td><p id="systemPreviewDescription"></p></td>
                            </tr>
                            <tr>
                            <td><b>Tags:</b></td>
                            <td><p id="systemPreviewTags"></p></td>
                            </tr>
                            </table>
                            </div>
                            <div class="col-sm-6">
                            <img id="systemPreviewModel" width="100%" class="pull-right" style="border 1 black">
                            </div>
                            </div>
                            <img id="systemPreviewChart" width="100%">
                        </div><!-- end modal-body -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="systemPreviewPrev">Previous</button>
                            <button type="button" class="btn btn-default" id="systemPreviewNext">Next</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container" >
                <div class="flowchart">
                    <div class="fcComp" data-type="species" data-id="species1" data-top="135" data-left="0.2" data-value="A" data-rev="no"></div>
                    <div class="fcComp" data-type="species" data-id="species0" data-top="135" data-left="0.6" data-value="B" data-rev="no"></div>
                    <div class="fcComp" data-type="interaction" data-id="interaction2" data-top="266" data-left="0.4" data-value="0.05" data-rev="no"></div>
                    <!-- pre-connections are currently not working with the OFFL system -->
                    <!-- <div class="fcConn" data-from="species1" data-to="interaction2"></div>
                    <div class="fcConn" data-from="interaction2" data-to="species0"></div> -->
                </div><!-- end flowchart -->
            </div><!-- end container -->

        </div><!-- end container -->

    <footer>
        <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                    <h6>Protected under the <a href="https://opensource.org/licenses/gpl-3.0.html" target="_blank">GNU License</a></h6>
                    </div><!-- end col-sm-3 -->
                    
                    <div class="col-sm-4">
                        <h6>About Us</h6>
                        <p>OFFL was developed at MIT by Sean Robinson in collaboration with C. Brandon Ogbunugafor. This novel organisational framework for dynamical modelling of biological systems with flow diagrams was published in the Journal of MIT in 2015. This webapp was developed by two students at MIT and exists to help scientists model their own biological systems.</p>
                    </div><!-- end col-sm-4 -->
                    
                    <div class="col-sm-2">
                        <h6>Navigation</h6>
                        <ul class="unstyled">
                            <li><a href="#aboutModal" data-toggle="modal">About</a></li>
                            <li><a href="#contactModal" data-toggle="modal">Contact</a></li>
                            <li><a href="#saveModal" data-toggle="modal">Save As</a></li>
                            <li><a href="#openModal" data-toggle="modal">Open</a></li>
                        </ul>
                    </div><!-- end col-sm-2 -->
                    
                    <div class="col-sm-3">
                        <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by William and Chandler</h6>
                    </div><!-- end col-sm-2 -->
                </div><!-- end row -->
            </div><!-- end container -->
    </footer>


    <!-- All Javascript at the bottom of the page for faster page loading -->
    
    <!-- All Javascript at the bottom of the page for faster page loading -->
    
    <!-- Bootstrap JS -->
    <!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    
    </body>
</html>